<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
<link rel="stylesheet" href="style.css">
    <title>Hello Angular </title>
</head>
<body>
  <script src="jquery-3.1.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
  <script src="app.js"></script>
  <h1>Directives with Their Own Controllers</h1>

    <!-- LIST #1 - unlimited items -->
    <div id="list" ng-controller='ShoppingListController as list'>
<div>
      <input type="text" ng-model="list.itemName" placeholder="item name">
      <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
      <button ng-click="list.addItem();">Add Item</button>
      <span>{{ list.lastRemoved }}</span>
    </div>
    <list-items
        id="list1"
        items="list.items"
        title="{{list.title}}"
        on-remove="list.removeItem(index)">

        <span class="warning">WARNING! WARNING! {{list.warning}}</span>

      </list-items>

      <list-items
        id="list2"
        items="list.items"
        title="{{list.title}}"
        on-remove="list.removeItem(index)">

        <div>
          <div class="title">OH, THE HORROR!</div>
          <div>{{list.warning}}</div>
        </div>

      </list-items>

</div>



  </body>
</html>
