<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">

    <title>Hello Angular </title>
</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js" type="text/javascript"></script>
  <script src="app.js"></script>
  <h1> Dependency  </h1>
  <div ng-controller="mainController" >
    <h1> Shopping List: </h1>
<!--    <ul>
  <li ng-repeat= "item in shoppingList1">{{ item }}</li>
</ul>-->
<!--<input type="text" ng-model="shoppingList2[0].quantity">-->
<input type="text" ng-model="search">
      <ul>
        <li ng-repeat="item in shoppingList1 | filter : search">{{item}}</li>
      </ul>
    <!--  <input type="text" ng-model="newItemName" placeholder="item name">
      <input type="text" ng-model="newItemQuantity" placeholder="item quantity">
      <button ng-click="addToList()">Add To List</button>-->

  </div>
  </body>
</html>
